* {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth; 
}
body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: blanchedalmond;

}
.container {
  max-width: 1440px;
  margin: 0 auto;
  background-color: rgb(245, 214, 168);
}
.nav-list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
}
.nav-link {
  padding: 0 20px;
  line-height: 50px;
}
.profile-image{
  width: 25%;
}
.footer-image{
  width: 9%;
}

